.body {
    font-family: 'Montserrat', sans-serif;
 }
 
.news_header{
    background-color: lightgray;
    text-align: center;
}

.news_model_header{
    text-align: center;
}

.pagination{
    margin-left: 25%;
}
