.country_header{
    background-color: lightgray;
    text-align: center;
}

.flag_border
{
    border-width: 2px;
    border-color: Black;
    border-style: solid;
}

.flag_card{
    width: 240px;
    height: 170px;
}

.flag_profile{
    width: 400px;
    height: 320px;
}

.country_model_header{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.pagination{
    margin-left: 25%;
}