#button-format{
    background-color: #ffc106;
	border-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    color: black;
}


.bubblediv {
    width: 80%;
    margin: 0 auto;
    padding: 20px;   
}

.piediv {
    width: 80%;
    margin: 0 auto;
    padding: 60px;   
}

.subtext{
    text-align: center;
}

.mapStyle{
    margin-top: -5%; /* for relative positioning */
}
