.body {
    font-family: 'Montserrat', sans-serif;
 }
 
 #landingHeader {
    background-color: #61d4b3;
 }
 
 .navbar-brand {
    font-size: 2rem;
    font-family: 'Merriweather', serif;
 }
 .nav-item{
    padding: 10px;
 }
 
 /* Home Page */
 #bee {
    width: 6%;
    margin: 16.5% 0 0 74%;
    position: absolute;
 }
 
 .slogan {
    margin: auto;
    text-align: center;
    padding: 250px 0;
    width: 50%;
 }
 
 .icon {
    font-size: 4rem;
    margin-bottom: 15px;
    color: #9dd8c8;
 }
 
 .icon:hover {
    color: #61d4b3;
 }
 
 #features {
    padding: 7% 15%;
 }
 
 .feature-box {
    text-align: center;
    padding: 5%;
 }
 
 .row {
    padding: 0% 10%;
 }

 
 